# Metin Ön İşleme

In [1]:
metin = """
A Scandal in Bohemia! 01
The Red-headed League,2
A Case, of Identity 33
The Boscombe Valley Mystery4
The Five Orange Pips1
The Man with? the Twisted Lip
The Adventure of the Blue Carbuncle
The Adventure of the Speckled Band
The Adventure of the Engineer's Thumb
The Adventure of the Noble Bachelor
The Adventure of the Beryl Coronet
The Adventure of the Copper Beeches"""

metin

"\nA Scandal in Bohemia! 01\nThe Red-headed League,2\nA Case, of Identity 33\nThe Boscombe Valley Mystery4\nThe Five Orange Pips1\nThe Man with? the Twisted Lip\nThe Adventure of the Blue Carbuncle\nThe Adventure of the Speckled Band\nThe Adventure of the Engineer's Thumb\nThe Adventure of the Noble Bachelor\nThe Adventure of the Beryl Coronet\nThe Adventure of the Copper Beeches"

In [2]:
# string'i df / array / seriye çevirmek

In [3]:
metin.split()

['A',
 'Scandal',
 'in',
 'Bohemia!',
 '01',
 'The',
 'Red-headed',
 'League,2',
 'A',
 'Case,',
 'of',
 'Identity',
 '33',
 'The',
 'Boscombe',
 'Valley',
 'Mystery4',
 'The',
 'Five',
 'Orange',
 'Pips1',
 'The',
 'Man',
 'with?',
 'the',
 'Twisted',
 'Lip',
 'The',
 'Adventure',
 'of',
 'the',
 'Blue',
 'Carbuncle',
 'The',
 'Adventure',
 'of',
 'the',
 'Speckled',
 'Band',
 'The',
 'Adventure',
 'of',
 'the',
 "Engineer's",
 'Thumb',
 'The',
 'Adventure',
 'of',
 'the',
 'Noble',
 'Bachelor',
 'The',
 'Adventure',
 'of',
 'the',
 'Beryl',
 'Coronet',
 'The',
 'Adventure',
 'of',
 'the',
 'Copper',
 'Beeches']

In [4]:
metin.split("\n")

['',
 'A Scandal in Bohemia! 01',
 'The Red-headed League,2',
 'A Case, of Identity 33',
 'The Boscombe Valley Mystery4',
 'The Five Orange Pips1',
 'The Man with? the Twisted Lip',
 'The Adventure of the Blue Carbuncle',
 'The Adventure of the Speckled Band',
 "The Adventure of the Engineer's Thumb",
 'The Adventure of the Noble Bachelor',
 'The Adventure of the Beryl Coronet',
 'The Adventure of the Copper Beeches']

In [5]:
v_metin = metin.split("\n")

In [7]:
import pandas as pd

v = pd.Series(v_metin)

v

0
1                  A Scandal in Bohemia! 01
2                   The Red-headed League,2
3                    A Case, of Identity 33
4              The Boscombe Valley Mystery4
5                     The Five Orange Pips1
6             The Man with? the Twisted Lip
7       The Adventure of the Blue Carbuncle
8        The Adventure of the Speckled Band
9     The Adventure of the Engineer's Thumb
10      The Adventure of the Noble Bachelor
11       The Adventure of the Beryl Coronet
12      The Adventure of the Copper Beeches
dtype: object

In [8]:
metin_vektoru = v[1: len(v)]

metin_vektoru

1                  A Scandal in Bohemia! 01
2                   The Red-headed League,2
3                    A Case, of Identity 33
4              The Boscombe Valley Mystery4
5                     The Five Orange Pips1
6             The Man with? the Twisted Lip
7       The Adventure of the Blue Carbuncle
8        The Adventure of the Speckled Band
9     The Adventure of the Engineer's Thumb
10      The Adventure of the Noble Bachelor
11       The Adventure of the Beryl Coronet
12      The Adventure of the Copper Beeches
dtype: object

In [10]:
mdf = pd.DataFrame(metin_vektoru, columns = ["hikayeler"])

mdf

                                hikayeler
1                A Scandal in Bohemia! 01
2                 The Red-headed League,2
3                  A Case, of Identity 33
4            The Boscombe Valley Mystery4
5                   The Five Orange Pips1
6           The Man with? the Twisted Lip
7     The Adventure of the Blue Carbuncle
8      The Adventure of the Speckled Band
9   The Adventure of the Engineer's Thumb
10    The Adventure of the Noble Bachelor
11     The Adventure of the Beryl Coronet
12    The Adventure of the Copper Beeches

-------

## 1. Büyük - Küçük Harf Dönüşümü

In [11]:
d_mdf = mdf.copy()

d_mdf

                                hikayeler
1                A Scandal in Bohemia! 01
2                 The Red-headed League,2
3                  A Case, of Identity 33
4            The Boscombe Valley Mystery4
5                   The Five Orange Pips1
6           The Man with? the Twisted Lip
7     The Adventure of the Blue Carbuncle
8      The Adventure of the Speckled Band
9   The Adventure of the Engineer's Thumb
10    The Adventure of the Noble Bachelor
11     The Adventure of the Beryl Coronet
12    The Adventure of the Copper Beeches

In [12]:
list1 = [1, 2, 3]

In [13]:
str1 = "".join(str(i) for i in list1)

str1

'123'

In [27]:
d_mdf["hikayeler"]

1                  A Scandal in Bohemia! 01
2                   The Red-headed League,2
3                    A Case, of Identity 33
4              The Boscombe Valley Mystery4
5                     The Five Orange Pips1
6             The Man with? the Twisted Lip
7       The Adventure of the Blue Carbuncle
8        The Adventure of the Speckled Band
9     The Adventure of the Engineer's Thumb
10      The Adventure of the Noble Bachelor
11       The Adventure of the Beryl Coronet
12      The Adventure of the Copper Beeches
Name: hikayeler, dtype: object

In [17]:
d_mdf["hikayeler"][1].split()

['A', 'Scandal', 'in', 'Bohemia!', '01']

In [18]:
d_mdf["hikayeler"].apply(lambda x : "".join(x.lower() for x in x.split()))

1                 ascandalinbohemia!01
2                thered-headedleague,2
3                   acase,ofidentity33
4            theboscombevalleymystery4
5                   thefiveorangepips1
6             themanwith?thetwistedlip
7       theadventureofthebluecarbuncle
8        theadventureofthespeckledband
9     theadventureoftheengineer'sthumb
10      theadventureofthenoblebachelor
11       theadventureoftheberylcoronet
12      theadventureofthecopperbeeches
Name: hikayeler, dtype: object

In [20]:
d_mdf["hikayeler"].apply(lambda x : "_".join(x.lower() for x in x.split()))

1                  a_scandal_in_bohemia!_01
2                   the_red-headed_league,2
3                    a_case,_of_identity_33
4              the_boscombe_valley_mystery4
5                     the_five_orange_pips1
6             the_man_with?_the_twisted_lip
7       the_adventure_of_the_blue_carbuncle
8        the_adventure_of_the_speckled_band
9     the_adventure_of_the_engineer's_thumb
10      the_adventure_of_the_noble_bachelor
11       the_adventure_of_the_beryl_coronet
12      the_adventure_of_the_copper_beeches
Name: hikayeler, dtype: object

In [21]:
d_mdf["hikayeler"].apply(lambda x : " ".join(x.lower() for x in x.split()))

1                  a scandal in bohemia! 01
2                   the red-headed league,2
3                    a case, of identity 33
4              the boscombe valley mystery4
5                     the five orange pips1
6             the man with? the twisted lip
7       the adventure of the blue carbuncle
8        the adventure of the speckled band
9     the adventure of the engineer's thumb
10      the adventure of the noble bachelor
11       the adventure of the beryl coronet
12      the adventure of the copper beeches
Name: hikayeler, dtype: object

In [22]:
d_mdf2 = d_mdf["hikayeler"].apply(lambda x : " ".join(x.lower() for x in x.split()))

d_mdf2

1                  a scandal in bohemia! 01
2                   the red-headed league,2
3                    a case, of identity 33
4              the boscombe valley mystery4
5                     the five orange pips1
6             the man with? the twisted lip
7       the adventure of the blue carbuncle
8        the adventure of the speckled band
9     the adventure of the engineer's thumb
10      the adventure of the noble bachelor
11       the adventure of the beryl coronet
12      the adventure of the copper beeches
Name: hikayeler, dtype: object

----------

## 2. Noktalama İşaretlerinin Silinmesi

In [24]:
type(d_mdf)

pandas.core.frame.DataFrame

In [25]:
type(d_mdf2)

pandas.core.series.Series

In [29]:
d_mdf["hikayeler"]

1                  A Scandal in Bohemia! 01
2                   The Red-headed League,2
3                    A Case, of Identity 33
4              The Boscombe Valley Mystery4
5                     The Five Orange Pips1
6             The Man with? the Twisted Lip
7       The Adventure of the Blue Carbuncle
8        The Adventure of the Speckled Band
9     The Adventure of the Engineer's Thumb
10      The Adventure of the Noble Bachelor
11       The Adventure of the Beryl Coronet
12      The Adventure of the Copper Beeches
Name: hikayeler, dtype: object

In [30]:
d_mdf["hikayeler"].str.replace("[^\w\s]", "")

1                  A Scandal in Bohemia 01
2                    The Redheaded League2
3                    A Case of Identity 33
4             The Boscombe Valley Mystery4
5                    The Five Orange Pips1
6             The Man with the Twisted Lip
7      The Adventure of the Blue Carbuncle
8       The Adventure of the Speckled Band
9     The Adventure of the Engineers Thumb
10     The Adventure of the Noble Bachelor
11      The Adventure of the Beryl Coronet
12     The Adventure of the Copper Beeches
Name: hikayeler, dtype: object

In [32]:
d_mdf2

1                  a scandal in bohemia! 01
2                   the red-headed league,2
3                    a case, of identity 33
4              the boscombe valley mystery4
5                     the five orange pips1
6             the man with? the twisted lip
7       the adventure of the blue carbuncle
8        the adventure of the speckled band
9     the adventure of the engineer's thumb
10      the adventure of the noble bachelor
11       the adventure of the beryl coronet
12      the adventure of the copper beeches
Name: hikayeler, dtype: object

In [34]:
d_mdf3 = d_mdf2.str.replace("[^\w\s]", "")

d_mdf3

1                  a scandal in bohemia 01
2                    the redheaded league2
3                    a case of identity 33
4             the boscombe valley mystery4
5                    the five orange pips1
6             the man with the twisted lip
7      the adventure of the blue carbuncle
8       the adventure of the speckled band
9     the adventure of the engineers thumb
10     the adventure of the noble bachelor
11      the adventure of the beryl coronet
12     the adventure of the copper beeches
Name: hikayeler, dtype: object

----

## 3. Sayıların Silinmesi

In [35]:
d_mdf3.str.replace("\d", "")

1                    a scandal in bohemia
2                     the redheaded league
3                      a case of identity
4              the boscombe valley mystery
5                     the five orange pips
6             the man with the twisted lip
7      the adventure of the blue carbuncle
8       the adventure of the speckled band
9     the adventure of the engineers thumb
10     the adventure of the noble bachelor
11      the adventure of the beryl coronet
12     the adventure of the copper beeches
Name: hikayeler, dtype: object

In [52]:
d_mdf4 = d_mdf3.str.replace("\d", "")

----------

## 4. Stopwords

In [36]:
!pip install nltk

Requirement already satisfied: nltk in c:\users\sefa3\anaconda3\lib\site-packages (3.4)
Requirement already satisfied: six in c:\users\sefa3\appdata\roaming\python\python37\site-packages (from nltk) (1.12.0)
Requirement already satisfied: singledispatch in c:\users\sefa3\anaconda3\lib\site-packages (from nltk) (3.4.0.3)

In [38]:
import nltk

In [39]:
nltk.download("stopwords")

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\Sefa3\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping corpora\stopwords.zip.

True

In [42]:
from nltk.corpus import stopwords

In [43]:
d_mdf

                                hikayeler
1                A Scandal in Bohemia! 01
2                 The Red-headed League,2
3                  A Case, of Identity 33
4            The Boscombe Valley Mystery4
5                   The Five Orange Pips1
6           The Man with? the Twisted Lip
7     The Adventure of the Blue Carbuncle
8      The Adventure of the Speckled Band
9   The Adventure of the Engineer's Thumb
10    The Adventure of the Noble Bachelor
11     The Adventure of the Beryl Coronet
12    The Adventure of the Copper Beeches

In [44]:
sw = stopwords.words("english")

sw[0:10]

['i', 'me', 'my', 'myself', 'we', 'our', 'ours', 'ourselves', 'you', "you're"]

In [50]:
d_mdf["hikayeler"].apply(lambda x : " ".join(x for x in x.split()))

1                  A Scandal in Bohemia! 01
2                   The Red-headed League,2
3                    A Case, of Identity 33
4              The Boscombe Valley Mystery4
5                     The Five Orange Pips1
6             The Man with? the Twisted Lip
7       The Adventure of the Blue Carbuncle
8        The Adventure of the Speckled Band
9     The Adventure of the Engineer's Thumb
10      The Adventure of the Noble Bachelor
11       The Adventure of the Beryl Coronet
12      The Adventure of the Copper Beeches
Name: hikayeler, dtype: object

In [51]:
d_mdf["hikayeler"].apply(lambda x : " ".join(x for x in x.split() if x not in sw))

1              A Scandal Bohemia! 01
2            The Red-headed League,2
3                A Case, Identity 33
4       The Boscombe Valley Mystery4
5              The Five Orange Pips1
6          The Man with? Twisted Lip
7       The Adventure Blue Carbuncle
8        The Adventure Speckled Band
9     The Adventure Engineer's Thumb
10      The Adventure Noble Bachelor
11       The Adventure Beryl Coronet
12      The Adventure Copper Beeches
Name: hikayeler, dtype: object

In [64]:
d_mdf5 = d_mdf4.apply(lambda x : " ".join(x for x in x.split() if x not in sw))

d_mdf5

1               scandal bohemia
2              redheaded league
3                 case identity
4       boscombe valley mystery
5              five orange pips
6               man twisted lip
7      adventure blue carbuncle
8       adventure speckled band
9     adventure engineers thumb
10     adventure noble bachelor
11      adventure beryl coronet
12     adventure copper beeches
Name: hikayeler, dtype: object

------------

## 5. Az Geçen Kelimelerin Silinmesi

In [54]:
" ".join(d_mdf4).split().value_counts()

AttributeError: 'list' object has no attribute 'value_counts'

In [55]:
type(d_mdf4)

pandas.core.series.Series

In [56]:
" ".join(d_mdf["hikayeler"]).split().value_counts()

AttributeError: 'list' object has no attribute 'value_counts'

In [58]:
pd.Series(" ".join(d_mdf["hikayeler"]).split())

0              A
1        Scandal
2             in
3       Bohemia!
4             01
5            The
6     Red-headed
7       League,2
8              A
9          Case,
10            of
11      Identity
12            33
13           The
14      Boscombe
15        Valley
16      Mystery4
17           The
18          Five
19        Orange
20         Pips1
21           The
22           Man
23         with?
24           the
25       Twisted
26           Lip
27           The
28     Adventure
29            of
         ...
33           The
34     Adventure
35            of
36           the
37      Speckled
38          Band
39           The
40     Adventure
41            of
42           the
43    Engineer's
44         Thumb
45           The
46     Adventure
47            of
48           the
49         Noble
50      Bachelor
51           The
52     Adventure
53            of
54           the
55         Beryl
56       Coronet
57           The
58     Adventure
59            of
60           the
61        Copper
62       Beeches
Length: 63, dtype: object

In [59]:
pd.Series(" ".join(d_mdf["hikayeler"]).split()).value_counts()

The           10
of             7
the            7
Adventure      6
A              2
League,2       1
Case,          1
Twisted        1
with?          1
33             1
Thumb          1
Copper         1
Mystery4       1
Orange         1
Engineer's     1
Bohemia!       1
Five           1
Beryl          1
01             1
Noble          1
Man            1
Blue           1
Band           1
Coronet        1
Bachelor       1
Carbuncle      1
Valley         1
in             1
Speckled       1
Identity       1
Lip            1
Scandal        1
Pips1          1
Beeches        1
Red-headed     1
Boscombe       1
dtype: int64

In [65]:
d_mdf5

1               scandal bohemia
2              redheaded league
3                 case identity
4       boscombe valley mystery
5              five orange pips
6               man twisted lip
7      adventure blue carbuncle
8       adventure speckled band
9     adventure engineers thumb
10     adventure noble bachelor
11      adventure beryl coronet
12     adventure copper beeches
Name: hikayeler, dtype: object

In [67]:
word_frequency = pd.Series(" ".join(d_mdf5).split()).value_counts()

word_frequency

adventure    6
bachelor     1
mystery      1
boscombe     1
league       1
valley       1
five         1
case         1
lip          1
speckled     1
redheaded    1
carbuncle    1
coronet      1
scandal      1
beryl        1
pips         1
orange       1
copper       1
thumb        1
bohemia      1
twisted      1
noble        1
band         1
man          1
beeches      1
blue         1
engineers    1
identity     1
dtype: int64

In [69]:
sil = word_frequency[-3:]

sil

blue         1
engineers    1
identity     1
dtype: int64

In [70]:
d_mdf5

1               scandal bohemia
2              redheaded league
3                 case identity
4       boscombe valley mystery
5              five orange pips
6               man twisted lip
7      adventure blue carbuncle
8       adventure speckled band
9     adventure engineers thumb
10     adventure noble bachelor
11      adventure beryl coronet
12     adventure copper beeches
Name: hikayeler, dtype: object

In [73]:
d_mdf6 = d_mdf5.apply(lambda x : " ".join(x for x in x.split() if x not in sil))

d_mdf6

1              scandal bohemia
2             redheaded league
3                         case
4      boscombe valley mystery
5             five orange pips
6              man twisted lip
7          adventure carbuncle
8      adventure speckled band
9              adventure thumb
10    adventure noble bachelor
11     adventure beryl coronet
12    adventure copper beeches
Name: hikayeler, dtype: object

---------

## 6. Tokenization

In [74]:
nltk.download("punkt")

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\Sefa3\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping tokenizers\punkt.zip.

True

In [75]:
!pip install textblob

Collecting textblob
  Downloading https://files.pythonhosted.org/packages/60/f0/1d9bfcc8ee6b83472ec571406bd0dd51c0e6330ff1a51b2d29861d389e85/textblob-0.15.3-py2.py3-none-any.whl (636kB)
Requirement already satisfied: nltk>=3.1 in c:\users\sefa3\anaconda3\lib\site-packages (from textblob) (3.4)
Requirement already satisfied: six in c:\users\sefa3\appdata\roaming\python\python37\site-packages (from nltk>=3.1->textblob) (1.12.0)
Requirement already satisfied: singledispatch in c:\users\sefa3\anaconda3\lib\site-packages (from nltk>=3.1->textblob) (3.4.0.3)
Installing collected packages: textblob
Successfully installed textblob-0.15.3

In [76]:
import textblob

from textblob import TextBlob

In [77]:
d_mdf6

1              scandal bohemia
2             redheaded league
3                         case
4      boscombe valley mystery
5             five orange pips
6              man twisted lip
7          adventure carbuncle
8      adventure speckled band
9              adventure thumb
10    adventure noble bachelor
11     adventure beryl coronet
12    adventure copper beeches
Name: hikayeler, dtype: object

In [79]:
TextBlob(d_mdf6[1])

TextBlob("scandal bohemia")

In [80]:
TextBlob(d_mdf6[1]).words

WordList(['scandal', 'bohemia'])

In [81]:
d_mdf6.apply(lambda x : TextBlob(x))

1         (s, c, a, n, d, a, l,  , b, o, h, e, m, i, a)
2      (r, e, d, h, e, a, d, e, d,  , l, e, a, g, u, e)
3                                          (c, a, s, e)
4     (b, o, s, c, o, m, b, e,  , v, a, l, l, e, y, ...
5      (f, i, v, e,  , o, r, a, n, g, e,  , p, i, p, s)
6         (m, a, n,  , t, w, i, s, t, e, d,  , l, i, p)
7     (a, d, v, e, n, t, u, r, e,  , c, a, r, b, u, ...
8     (a, d, v, e, n, t, u, r, e,  , s, p, e, c, k, ...
9         (a, d, v, e, n, t, u, r, e,  , t, h, u, m, b)
10    (a, d, v, e, n, t, u, r, e,  , n, o, b, l, e, ...
11    (a, d, v, e, n, t, u, r, e,  , b, e, r, y, l, ...
12    (a, d, v, e, n, t, u, r, e,  , c, o, p, p, e, ...
Name: hikayeler, dtype: object

In [84]:
d_mdf7 = d_mdf6.apply(lambda x : TextBlob(x).words)

d_mdf7

1               [scandal, bohemia]
2              [redheaded, league]
3                           [case]
4      [boscombe, valley, mystery]
5             [five, orange, pips]
6              [man, twisted, lip]
7           [adventure, carbuncle]
8      [adventure, speckled, band]
9               [adventure, thumb]
10    [adventure, noble, bachelor]
11     [adventure, beryl, coronet]
12    [adventure, copper, beeches]
Name: hikayeler, dtype: object

---------

## 7. Stemming

In [83]:
from nltk.stem import PorterStemmer

st = PorterStemmer()

st

In [90]:
d_mdf8 = d_mdf7.apply(lambda x : " ".join([st.stem(word) for word in x.split()]))  # d_mdf7 olmadı.

d_mdf8

AttributeError: 'WordList' object has no attribute 'split'

In [91]:
d_mdf8 = d_mdf6.apply(lambda x : " ".join([st.stem(word) for word in x.split()])) # d_mdf6 kullanıldı.

d_mdf8

1            scandal bohemia
2              redhead leagu
3                       case
4     boscomb valley mysteri
5             five orang pip
6              man twist lip
7          adventur carbuncl
8       adventur speckl band
9             adventur thumb
10    adventur nobl bachelor
11    adventur beryl coronet
12     adventur copper beech
Name: hikayeler, dtype: object

In [92]:
d_mdf6  # d_mdf8 ile karşılaştır. Neler yapıldı gör.

1              scandal bohemia
2             redheaded league
3                         case
4      boscombe valley mystery
5             five orange pips
6              man twisted lip
7          adventure carbuncle
8      adventure speckled band
9              adventure thumb
10    adventure noble bachelor
11     adventure beryl coronet
12    adventure copper beeches
Name: hikayeler, dtype: object

---------

# 8. Lemmatization

In [93]:
from textblob import Word

nltk.download("wordnet")

[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\Sefa3\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping corpora\wordnet.zip.

True

In [95]:
Word(d_mdf6[1])

'scandal bohemia'

In [96]:
Word(d_mdf6[1]).lemmatize()

'scandal bohemia'

In [99]:
# 's' takılarını kaldırmak için 'Lemmatization' kullanılır.

d_mdf9 = d_mdf6.apply(lambda x : " ".join([Word(word).lemmatize() for word in x.split()]))

d_mdf9

1              scandal bohemia
2             redheaded league
3                         case
4      boscombe valley mystery
5              five orange pip
6              man twisted lip
7          adventure carbuncle
8      adventure speckled band
9              adventure thumb
10    adventure noble bachelor
11     adventure beryl coronet
12      adventure copper beech
Name: hikayeler, dtype: object

------------

# 9. Karşılaştırma

In [100]:
mdf

                                hikayeler
1                A Scandal in Bohemia! 01
2                 The Red-headed League,2
3                  A Case, of Identity 33
4            The Boscombe Valley Mystery4
5                   The Five Orange Pips1
6           The Man with? the Twisted Lip
7     The Adventure of the Blue Carbuncle
8      The Adventure of the Speckled Band
9   The Adventure of the Engineer's Thumb
10    The Adventure of the Noble Bachelor
11     The Adventure of the Beryl Coronet
12    The Adventure of the Copper Beeches

In [101]:
mdf["hikayeler"]

1                  A Scandal in Bohemia! 01
2                   The Red-headed League,2
3                    A Case, of Identity 33
4              The Boscombe Valley Mystery4
5                     The Five Orange Pips1
6             The Man with? the Twisted Lip
7       The Adventure of the Blue Carbuncle
8        The Adventure of the Speckled Band
9     The Adventure of the Engineer's Thumb
10      The Adventure of the Noble Bachelor
11       The Adventure of the Beryl Coronet
12      The Adventure of the Copper Beeches
Name: hikayeler, dtype: object

In [102]:
d_mdf9

1              scandal bohemia
2             redheaded league
3                         case
4      boscombe valley mystery
5              five orange pip
6              man twisted lip
7          adventure carbuncle
8      adventure speckled band
9              adventure thumb
10    adventure noble bachelor
11     adventure beryl coronet
12      adventure copper beech
Name: hikayeler, dtype: object

--------