# Matematiksel İşlemler ve Basit Özellik Çıkarımı

In [2]:
import pandas as pd

import nltk

from nltk.corpus import stopwords

import textblob

from textblob import TextBlob

from nltk.stem import PorterStemmer

from textblob import Word

from nltk import word_tokenize, pos_tag, ne_chunk


nltk.download("averaged_perceptron_tagger")

sw = stopwords.words("english")

nltk.download('maxent_ne_chunker')

nltk.download('words')

[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     C:\Users\Sefa3\AppData\Roaming\nltk_data...
[nltk_data]   Package averaged_perceptron_tagger is already up-to-
[nltk_data]       date!
[nltk_data] Downloading package maxent_ne_chunker to
[nltk_data]     C:\Users\Sefa3\AppData\Roaming\nltk_data...
[nltk_data]   Package maxent_ne_chunker is already up-to-date!
[nltk_data] Downloading package words to
[nltk_data]     C:\Users\Sefa3\AppData\Roaming\nltk_data...
[nltk_data]   Package words is already up-to-date!

True

In [4]:
metin = """
A Scandal in Bohemia! 01
The Red-headed League,2
A Case, of Identity 33
The Boscombe Valley Mystery4
The Five Orange Pips1
The Man with? the Twisted Lip
The Adventure of the Blue Carbuncle
The Adventure of the Speckled Band
The Adventure of the Engineer's Thumb
The Adventure of the Noble Bachelor
The Adventure of the Beryl Coronet
The Adventure of the Copper Beeches"""

metin

"\nA Scandal in Bohemia! 01\nThe Red-headed League,2\nA Case, of Identity 33\nThe Boscombe Valley Mystery4\nThe Five Orange Pips1\nThe Man with? the Twisted Lip\nThe Adventure of the Blue Carbuncle\nThe Adventure of the Speckled Band\nThe Adventure of the Engineer's Thumb\nThe Adventure of the Noble Bachelor\nThe Adventure of the Beryl Coronet\nThe Adventure of the Copper Beeches"

In [17]:
v_metin = metin.split("\n")

v = pd.Series(v_metin)

metin_vektoru = v[1:len(v)]

mdf = pd.DataFrame(metin_vektoru, columns = ["hikayeler"])

mdf1 = mdf.copy()

mdf2 = mdf1["hikayeler"].apply(lambda x: " ".join(x.lower() for x in x.split()))

mdf3 = mdf2.str.replace("[^\w\s]","")

sw = stopwords.words("english")

mdf4 = mdf3.str.replace("\d", "")

mdf5 = mdf4.apply(lambda x: " ".join(x for x in x.split() if x not in sw))

mdf6 = mdf5.apply(lambda x: " ".join([Word(word).lemmatize() for word in x.split()]))

mdf7 = mdf6.apply(lambda x: TextBlob(x).tags)

pos = mdf7.copy()

-----------------

## 1. Harf / Karakter Sayısı

In [18]:
mdf["hikayeler"]

1                  A Scandal in Bohemia! 01
2                   The Red-headed League,2
3                    A Case, of Identity 33
4              The Boscombe Valley Mystery4
5                     The Five Orange Pips1
6             The Man with? the Twisted Lip
7       The Adventure of the Blue Carbuncle
8        The Adventure of the Speckled Band
9     The Adventure of the Engineer's Thumb
10      The Adventure of the Noble Bachelor
11       The Adventure of the Beryl Coronet
12      The Adventure of the Copper Beeches
Name: hikayeler, dtype: object

In [19]:
mdf["hikayeler"].str.len()

1     24
2     23
3     22
4     28
5     21
6     29
7     35
8     34
9     37
10    35
11    34
12    35
Name: hikayeler, dtype: int64

In [20]:
mdf6

1              scandal bohemia
2             redheaded league
3                case identity
4      boscombe valley mystery
5              five orange pip
6              man twisted lip
7     adventure blue carbuncle
8      adventure speckled band
9     adventure engineer thumb
10    adventure noble bachelor
11     adventure beryl coronet
12      adventure copper beech
Name: hikayeler, dtype: object

In [23]:
mdf6.str.len()

1     15
2     16
3     13
4     23
5     15
6     15
7     24
8     23
9     24
10    24
11    23
12    22
Name: hikayeler, dtype: int64

In [24]:
mdf6DataFrame = pd.DataFrame(mdf6)

mdf6DataFrame

                   hikayeler
1            scandal bohemia
2           redheaded league
3              case identity
4    boscombe valley mystery
5            five orange pip
6            man twisted lip
7   adventure blue carbuncle
8    adventure speckled band
9   adventure engineer thumb
10  adventure noble bachelor
11   adventure beryl coronet
12    adventure copper beech

In [25]:
mdf6DataFrame["harf_sayisi"] = mdf6.str.len()

mdf6DataFrame

                   hikayeler  harf_sayisi
1            scandal bohemia           15
2           redheaded league           16
3              case identity           13
4    boscombe valley mystery           23
5            five orange pip           15
6            man twisted lip           15
7   adventure blue carbuncle           24
8    adventure speckled band           23
9   adventure engineer thumb           24
10  adventure noble bachelor           24
11   adventure beryl coronet           23
12    adventure copper beech           22

-----------

## 2. Kelime Sayısı

In [29]:
a = "scandal in a bohemia"

In [30]:
a.split()

['scandal', 'in', 'a', 'bohemia']

In [31]:
len(a.split())

4

In [32]:
mdf6DataFrame.iloc[0:1, 0:1]

         hikayeler
1  scandal bohemia

In [33]:
mdf6DataFrame.iloc[0:1, 0:1].split()

AttributeError: 'DataFrame' object has no attribute 'split'

In [34]:
mdf6DataFrame.apply(lambda x : str(x).split(" "))

hikayeler      [1, , , , , , , , , , , , , , scandal, bohemia...
harf_sayisi    [1, , , , , 15\n2, , , , , 16\n3, , , , , 13\n...
dtype: object

In [35]:
mdf6DataFrame.apply(lambda x : len(str(x).split(" ")))

hikayeler      133
harf_sayisi     61
dtype: int64

In [36]:
mdf6.apply(lambda x : str(x).split(" "))

1               [scandal, bohemia]
2              [redheaded, league]
3                 [case, identity]
4      [boscombe, valley, mystery]
5              [five, orange, pip]
6              [man, twisted, lip]
7     [adventure, blue, carbuncle]
8      [adventure, speckled, band]
9     [adventure, engineer, thumb]
10    [adventure, noble, bachelor]
11     [adventure, beryl, coronet]
12      [adventure, copper, beech]
Name: hikayeler, dtype: object

In [37]:
mdf6.apply(lambda x : len(str(x).split(" ")))

1     2
2     2
3     2
4     3
5     3
6     3
7     3
8     3
9     3
10    3
11    3
12    3
Name: hikayeler, dtype: int64

In [39]:
SatırBazlıKelimeSayısı = mdf6DataFrame["hikayeler"].apply(lambda x : len(str(x).split(" ")))

SatırBazlıKelimeSayısı

1     2
2     2
3     2
4     3
5     3
6     3
7     3
8     3
9     3
10    3
11    3
12    3
Name: hikayeler, dtype: int64

In [40]:
mdf6DataFrame["kelime_sayisi"] = SatırBazlıKelimeSayısı

mdf6DataFrame

                   hikayeler  harf_sayisi  kelime_sayisi
1            scandal bohemia           15              2
2           redheaded league           16              2
3              case identity           13              2
4    boscombe valley mystery           23              3
5            five orange pip           15              3
6            man twisted lip           15              3
7   adventure blue carbuncle           24              3
8    adventure speckled band           23              3
9   adventure engineer thumb           24              3
10  adventure noble bachelor           24              3
11   adventure beryl coronet           23              3
12    adventure copper beech           22              3

-------------

## 3. Özel Karakterleri Yakalamak & Saydırmak

In [47]:
mdf6DataFrame["hikayeler"]

1              scandal bohemia
2             redheaded league
3                case identity
4      boscombe valley mystery
5              five orange pip
6              man twisted lip
7     adventure blue carbuncle
8      adventure speckled band
9     adventure engineer thumb
10    adventure noble bachelor
11     adventure beryl coronet
12      adventure copper beech
Name: hikayeler, dtype: object

In [51]:
mdf6DataFrame["hikayeler"].apply(lambda x : [x for x in x.split()])

1               [scandal, bohemia]
2              [redheaded, league]
3                 [case, identity]
4      [boscombe, valley, mystery]
5              [five, orange, pip]
6              [man, twisted, lip]
7     [adventure, blue, carbuncle]
8      [adventure, speckled, band]
9     [adventure, engineer, thumb]
10    [adventure, noble, bachelor]
11     [adventure, beryl, coronet]
12      [adventure, copper, beech]
Name: hikayeler, dtype: object

In [52]:
mdf6DataFrame["hikayeler"].apply(lambda x : len([x for x in x.split()]))

1     2
2     2
3     2
4     3
5     3
6     3
7     3
8     3
9     3
10    3
11    3
12    3
Name: hikayeler, dtype: int64

In [42]:
mdf6DataFrame["hikayeler"].apply(lambda x : len([x for x in x.split() if x.isdigit()]))

1     0
2     0
3     0
4     0
5     0
6     0
7     0
8     0
9     0
10    0
11    0
12    0
Name: hikayeler, dtype: int64

In [54]:
ozel_karakter_sayısı = mdf6DataFrame["hikayeler"].apply(lambda x : len([x for x in x.split() if x.startswith("adventure")]))

ozel_karakter_sayısı

1     0
2     0
3     0
4     0
5     0
6     0
7     1
8     1
9     1
10    1
11    1
12    1
Name: hikayeler, dtype: int64

In [55]:
mdf6DataFrame["Adventure_ile_baslayan_satirlar"] = ozel_karakter_sayısı

mdf6DataFrame

,hikayeler,harf_sayisi,kelime_sayisi,Adventure_ile_baslayan_satirlar
1,scandal bohemia,15,2,0
2,redheaded league,16,2,0
3,case identity,13,2,0
4,boscombe valley mystery,23,3,0
5,five orange pip,15,3,0
6,man twisted lip,15,3,0
7,adventure blue carbuncle,24,3,1
8,adventure speckled band,23,3,1
9,adventure engineer thumb,24,3,1
10,adventure noble bachelor,24,3,1
11,adventure beryl coronet,23,3,1
12,adventure copper beech,22,3,1

---------------

## 4. Sayıları Yakalamak & Saydırmak

In [58]:
# sayıların dahil olduğu pandas serimiz

mdf3

1                  a scandal in bohemia 01
2                    the redheaded league2
3                    a case of identity 33
4             the boscombe valley mystery4
5                    the five orange pips1
6             the man with the twisted lip
7      the adventure of the blue carbuncle
8       the adventure of the speckled band
9     the adventure of the engineers thumb
10     the adventure of the noble bachelor
11      the adventure of the beryl coronet
12     the adventure of the copper beeches
Name: hikayeler, dtype: object

In [60]:
# bu seriyi öncelik olarak bir dataframe'e çevirelim.

mdf3DataFrame = pd.DataFrame(mdf3)

mdf3DataFrame

                               hikayeler
1                a scandal in bohemia 01
2                  the redheaded league2
3                  a case of identity 33
4           the boscombe valley mystery4
5                  the five orange pips1
6           the man with the twisted lip
7    the adventure of the blue carbuncle
8     the adventure of the speckled band
9   the adventure of the engineers thumb
10   the adventure of the noble bachelor
11    the adventure of the beryl coronet
12   the adventure of the copper beeches

In [62]:
rakam_dahil_satırlar = mdf3DataFrame["hikayeler"].apply(lambda x : len([x for x in x.split() if x.isdigit()]))

rakam_dahil_satırlar

1     1
2     0
3     1
4     0
5     0
6     0
7     0
8     0
9     0
10    0
11    0
12    0
Name: hikayeler, dtype: int64

In [65]:
mdf3DataFrame["rakam_dahil"] = rakam_dahil_satırlar

mdf3DataFrame

# 4.satırdaki 'mystery4' de 4 birleşik(split ile ayrılmadı.) olduğundan string olarak algıladı.

                               hikayeler  rakam_dahil
1                a scandal in bohemia 01            1
2                  the redheaded league2            0
3                  a case of identity 33            1
4           the boscombe valley mystery4            0
5                  the five orange pips1            0
6           the man with the twisted lip            0
7    the adventure of the blue carbuncle            0
8     the adventure of the speckled band            0
9   the adventure of the engineers thumb            0
10   the adventure of the noble bachelor            0
11    the adventure of the beryl coronet            0
12   the adventure of the copper beeches            0

----------------------