# Bagging

Temeli, bootstrap yöntemi ile oluşturulan birden fazla karar ağacının, ürettiği tahminlerin bir araya getirilerek değerlendirilmesine dayanır.

1996, Breiman

-------

# 1. Model (Bagged)

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split, GridSearchCV,cross_val_score
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.preprocessing import scale 
from sklearn import model_selection
from sklearn.tree import DecisionTreeRegressor, DecisionTreeClassifier
from sklearn.neighbors import KNeighborsRegressor
from sklearn.ensemble import BaggingRegressor
from sklearn.svm import SVR
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import StandardScaler
from sklearn.neural_network import MLPRegressor

from warnings import filterwarnings
filterwarnings('ignore')

In [2]:
hit = pd.read_csv("Hitters.csv")

df = hit.copy()

df = df.dropna()

df.head()

,AtBat,Hits,HmRun,Runs,RBI,Walks,Years,CAtBat,CHits,CHmRun,CRuns,CRBI,CWalks,League,Division,PutOuts,Assists,Errors,Salary,NewLeague
1,315,81,7,24,38,39,14,3449,835,69,321,414,375,N,W,632,43,10,475.0,N
2,479,130,18,66,72,76,3,1624,457,63,224,266,263,A,W,880,82,14,480.0,A
3,496,141,20,65,78,37,11,5628,1575,225,828,838,354,N,E,200,11,3,500.0,N
4,321,87,10,39,42,30,2,396,101,12,48,46,33,N,E,805,40,4,91.5,N
5,594,169,4,74,51,35,11,4408,1133,19,501,336,194,A,W,282,421,25,750.0,A

In [3]:
dms = pd.get_dummies(df[["League", "Division", "NewLeague"]])

dms.head()

   League_A  League_N  Division_E  Division_W  NewLeague_A  NewLeague_N
1         0         1           0           1            0            1
2         1         0           0           1            1            0
3         0         1           1           0            0            1
4         0         1           1           0            0            1
5         1         0           0           1            1            0

In [4]:
X_ = df.drop(["Salary", "League", "Division", "NewLeague"], axis = 1).astype("float64")

X_.head()

,AtBat,Hits,HmRun,Runs,RBI,Walks,Years,CAtBat,CHits,CHmRun,CRuns,CRBI,CWalks,PutOuts,Assists,Errors
1,315.0,81.0,7.0,24.0,38.0,39.0,14.0,3449.0,835.0,69.0,321.0,414.0,375.0,632.0,43.0,10.0
2,479.0,130.0,18.0,66.0,72.0,76.0,3.0,1624.0,457.0,63.0,224.0,266.0,263.0,880.0,82.0,14.0
3,496.0,141.0,20.0,65.0,78.0,37.0,11.0,5628.0,1575.0,225.0,828.0,838.0,354.0,200.0,11.0,3.0
4,321.0,87.0,10.0,39.0,42.0,30.0,2.0,396.0,101.0,12.0,48.0,46.0,33.0,805.0,40.0,4.0
5,594.0,169.0,4.0,74.0,51.0,35.0,11.0,4408.0,1133.0,19.0,501.0,336.0,194.0,282.0,421.0,25.0

In [5]:
X = pd.concat([X_, dms[["League_N", "Division_W", "NewLeague_N"]]], axis = 1)

X.head()

,AtBat,Hits,HmRun,Runs,RBI,Walks,Years,CAtBat,CHits,CHmRun,CRuns,CRBI,CWalks,PutOuts,Assists,Errors,League_N,Division_W,NewLeague_N
1,315.0,81.0,7.0,24.0,38.0,39.0,14.0,3449.0,835.0,69.0,321.0,414.0,375.0,632.0,43.0,10.0,1,1,1
2,479.0,130.0,18.0,66.0,72.0,76.0,3.0,1624.0,457.0,63.0,224.0,266.0,263.0,880.0,82.0,14.0,0,1,0
3,496.0,141.0,20.0,65.0,78.0,37.0,11.0,5628.0,1575.0,225.0,828.0,838.0,354.0,200.0,11.0,3.0,1,0,1
4,321.0,87.0,10.0,39.0,42.0,30.0,2.0,396.0,101.0,12.0,48.0,46.0,33.0,805.0,40.0,4.0,1,0,1
5,594.0,169.0,4.0,74.0,51.0,35.0,11.0,4408.0,1133.0,19.0,501.0,336.0,194.0,282.0,421.0,25.0,0,1,0

In [6]:
y = df["Salary"]

y.head()

1    475.0
2    480.0
3    500.0
4     91.5
5    750.0
Name: Salary, dtype: float64

In [7]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.25, random_state = 42)

In [8]:
bag_model = BaggingRegressor(bootstrap_features = True)

bag_model.fit(X_train, y_train)

BaggingRegressor(base_estimator=None, bootstrap=True, bootstrap_features=True,
                 max_features=1.0, max_samples=1.0, n_estimators=10,
                 n_jobs=None, oob_score=False, random_state=None, verbose=0,
                 warm_start=False)

In [9]:
bag_model.n_estimators

10

In [10]:
bag_model.estimators_ # birbirinden farklı 10 adet ağaç 'fit' edilmiş.

[DecisionTreeRegressor(criterion='mse', max_depth=None, max_features=None,
                       max_leaf_nodes=None, min_impurity_decrease=0.0,
                       min_impurity_split=None, min_samples_leaf=1,
                       min_samples_split=2, min_weight_fraction_leaf=0.0,
                       presort=False, random_state=766210766, splitter='best'),
 DecisionTreeRegressor(criterion='mse', max_depth=None, max_features=None,
                       max_leaf_nodes=None, min_impurity_decrease=0.0,
                       min_impurity_split=None, min_samples_leaf=1,
                       min_samples_split=2, min_weight_fraction_leaf=0.0,
                       presort=False, random_state=1499816503, splitter='best'),
 DecisionTreeRegressor(criterion='mse', max_depth=None, max_features=None,
                       max_leaf_nodes=None, min_impurity_decrease=0.0,
                       min_impurity_split=None, min_samples_leaf=1,
                       min_samples_split=2, min_weight_fraction_leaf=0.0,
                       presort=False, random_state=887029455, splitter='best'),
 DecisionTreeRegressor(criterion='mse', max_depth=None, max_features=None,
                       max_leaf_nodes=None, min_impurity_decrease=0.0,
                       min_impurity_split=None, min_samples_leaf=1,
                       min_samples_split=2, min_weight_fraction_leaf=0.0,
                       presort=False, random_state=1171432629, splitter='best'),
 DecisionTreeRegressor(criterion='mse', max_depth=None, max_features=None,
                       max_leaf_nodes=None, min_impurity_decrease=0.0,
                       min_impurity_split=None, min_samples_leaf=1,
                       min_samples_split=2, min_weight_fraction_leaf=0.0,
                       presort=False, random_state=1963306343, splitter='best'),
 DecisionTreeRegressor(criterion='mse', max_depth=None, max_features=None,
                       max_leaf_nodes=None, min_impurity_decrease=0.0,
                       min_impurity_split=None, min_samples_leaf=1,
                       min_samples_split=2, min_weight_fraction_leaf=0.0,
                       presort=False, random_state=154781435, splitter='best'),
 DecisionTreeRegressor(criterion='mse', max_depth=None, max_features=None,
                       max_leaf_nodes=None, min_impurity_decrease=0.0,
                       min_impurity_split=None, min_samples_leaf=1,
                       min_samples_split=2, min_weight_fraction_leaf=0.0,
                       presort=False, random_state=2056611537, splitter='best'),
 DecisionTreeRegressor(criterion='mse', max_depth=None, max_features=None,
                       max_leaf_nodes=None, min_impurity_decrease=0.0,
                       min_impurity_split=None, min_samples_leaf=1,
                       min_samples_split=2, min_weight_fraction_leaf=0.0,
                       presort=False, random_state=630352112, splitter='best'),
 DecisionTreeRegressor(criterion='mse', max_depth=None, max_features=None,
                       max_leaf_nodes=None, min_impurity_decrease=0.0,
                       min_impurity_split=None, min_samples_leaf=1,
                       min_samples_split=2, min_weight_fraction_leaf=0.0,
                       presort=False, random_state=1151393589, splitter='best'),
 DecisionTreeRegressor(criterion='mse', max_depth=None, max_features=None,
                       max_leaf_nodes=None, min_impurity_decrease=0.0,
                       min_impurity_split=None, min_samples_leaf=1,
                       min_samples_split=2, min_weight_fraction_leaf=0.0,
                       presort=False, random_state=464146643, splitter='best')]

In [14]:
bag_model.estimators_samples_  # her bir ağaçta bulunan örnekler

[array([ 29, 126, 112, 160,  50,  77,   3, 116, 183, 160, 143, 111, 133,
        126,  63, 110,  91,  10, 138,  79,  23,  71,  73,  21,  93,  39,
        107,  55, 124,  70,  38, 120, 105,  68,  71,   2, 136,   6,  72,
         92,  16,  10,  91, 109, 146, 129, 115, 117, 170,  59,  84, 141,
          5,  26, 192,  78,  44, 133, 129, 191, 173,  44, 101, 100, 162,
         74, 127, 165,  32,  12, 158,  71,  47,  94, 192, 120,  36,  74,
         66, 182,  63, 138, 102,  70, 169,  34, 194, 105,  23, 136, 182,
         25, 188,  23, 182,  55, 149,  99,  18,  47, 127, 131,  48, 195,
          1,  53, 127,  23, 145,  19, 145, 123,  54, 161,  81,  79, 153,
        108, 163, 171, 179,  71, 167, 110, 102, 122,  52,  61,  31,  89,
        177, 111, 109,  80,  24, 123,  22, 140,  74,  63,   1,  25, 134,
         76,  91,  66,  96,  65,  77, 124, 165, 196, 134, 177, 146,  86,
        140,  10,  48, 149,   7,  56,  35,  91,  34, 172,  41, 104, 184,
        169, 120, 182, 140,  28, 184,  24, 163,  45, 138, 102, 130,  76,
        187,  90,  10,  99,  42,  61,  25, 141,  71, 136, 125, 108, 157,
         42,  40]),
 array([165, 195, 187, 176,  52, 101,  13,  61,  10, 143, 116,  29,  53,
        185, 189, 167, 111,   4, 170, 116,  18,  44, 190, 139, 147, 126,
        165,   0,  13, 131, 168, 196,  91,  27,  32, 184, 192, 151, 170,
        140, 157, 173,  70, 192, 116,  34,  42, 166,  83, 126,  53, 108,
         56,  77, 162,  83,   2,  44,  95,  78,  55,  66,  17,  97, 154,
         91,  35, 192,  27, 172, 142,  14,  56, 120,  86, 183,  42, 165,
        195,  65,  76, 140,  17,  98,   4, 190,  29,  16, 120,  50, 133,
        195,  21,   0,  60, 128, 184, 116, 158,  39, 193,   2, 134, 183,
        157, 187, 125,  40,  18, 120,  83, 158,  99,   4,   3,  90,  97,
         40,  72, 100,  12,  79,  62, 191, 135,  67,  66, 112, 107,  45,
        102,  56,  31,  31,  50, 196, 113,  49,   4,  65, 108, 160,  32,
         69, 149,  96, 191, 192, 132,  25,  66, 189, 110,  95,  16, 130,
         66,  43,  14, 114, 141, 193,  52, 173,   7,  80, 182,  46, 186,
        152,  80, 154, 189,  23,  79,  80, 163,  22,   0, 149,  82,  69,
         67,  35,  11,  28,  83,  65, 184,  88, 179, 126,  45, 111, 177,
         61, 176]),
 array([108,  54,  19,  68,   2,  43, 129,  80,  15,  76,  96, 102, 136,
        175, 171,  93, 122,  23,  37, 177,  45,  17,  12, 111,  98, 114,
         63,  25, 196, 156,  30,  70,   3,   4, 144,  42, 194,  93,   0,
        119,  13,  48, 135,  48, 125, 120,  10,  64, 180,  68,  64,  27,
        190,  72,  72,  54,  67,   7, 125, 128,  90, 123,  11,  67,  52,
         77, 178,  13, 135, 188,  81, 184,  28,  74,  87, 123,  85,  60,
        195,  41, 169, 140,   4,   1, 183,  35, 186,  80, 167, 142,  58,
         15, 159,  81,  16,   7,  28, 136,   6, 116,  68, 145, 189, 124,
         77, 126,  50,  98, 147,  28, 166,  61,  43, 106,  62,  82,  88,
         85,  26, 132,  49,  50, 127, 116,  16, 188, 143,  61, 166,  48,
         72,  25, 114,  49, 184,   3,  40,  25,   3,  88,  29,  87, 140,
        133,  33,  54,  49,  61, 136, 194,  47, 145,  69,  55,  10, 162,
         52,  40,  19, 161, 127,  28, 160,  88,  12,  94,  22, 169,  15,
        186, 136, 105,  77,  21, 150,  54, 118,  22, 167, 106, 186,  56,
         63, 193, 189,  86, 180,  71,  86, 164,  71, 132, 160, 117, 193,
          0, 130]),
 array([118, 173, 125,  44,  95,  78,   2,  64, 193, 129, 121, 138, 180,
          3, 192, 139, 118, 117,  40,  32, 188,  93,  20,  22,  28, 118,
        113,  78, 193,  64,  99, 140,  29,   7, 193, 155, 113, 133, 122,
         47,  44,  11, 171, 161,  56,  42,  20, 119, 192,  90, 149, 137,
         61,  86,  83, 181, 103, 173, 133, 145,  16, 173,  13,  31, 166,
        150,  98,  41, 194, 171,  18, 136,   1,  29,  68,  31,  58, 113,
         97,  55, 164,  98,   0,  27,  46,  17, 182,  34, 152, 126,   7,
         19,  84, 190, 100, 116, 194, 114, 174,  74,   4,  59, 145,  55,
         88, 133,  20,  70,  43,  26, 117,  79, 171,   1, 147, 101,  34,
         31, 182, 160,  53,  95,  39,  52,  29, 154, 126, 106,  33,  32,
        119,   8, 168, 164,  33,  38, 100,  53, 153,  35,  67, 121, 120,
        191, 146,   4,  25,  94, 120, 178,  58,  62,  59, 157,   2, 124,
          2,  86, 124, 167,  61, 156, 150, 104, 103,  76, 140,  48, 167,
        111, 169, 130,   7, 153,  50,  21, 133,  30, 119, 142, 104,  17,
        126,  37,  54,  75,  15, 119, 175,  46, 172, 165, 129,  67, 109,
        179,  54]),
 array([189, 158,  42,  46, 189, 110,  79,  45, 185,  91,  20, 106,  47,
         77,  15,  98, 175,  12, 182, 112,  37,  70, 115, 132, 132, 123,
        115,   3, 110, 136,  93, 106,  74,  16, 187, 114,  90, 107, 190,
         28,  48, 127, 132, 146,  77,  62,  68, 112, 184, 145, 113,  37,
        164, 133, 132,  92,  74, 152,  18, 145, 164,  10,  24, 185, 107,
         99,  42, 160, 131, 103,  65,   0, 161,  94,  75,  84, 167,  71,
         31,  76, 152,  62, 116,  32,  95,  29, 194,   6,  60,  32,  37,
        112, 171,  75,   9, 161,  87,  24,  70, 104, 189, 143,  39, 157,
        183,  25,  21,  61, 147,   7, 111,   3,  57,   9,  38, 184,  98,
        186,  44, 152,   9, 157, 193,  93,  55, 190,  70, 127,  40,  15,
        177,  35, 135, 119, 152,  45,  92, 155,  89, 140,  23,  94,  25,
         38,  57, 152, 155,  97,  10,  92,  85,  56,  96,  23,  89, 144,
         18, 145, 192, 150, 182,   7,  11,  39, 129,  96,  71, 130, 100,
        118,  98,  53,  94,  77, 159, 182, 186, 137,  48, 133,  43, 179,
         64, 155,  41, 109, 104,  50,  32,  86, 150,  32,  39,  71,  74,
        162,  67]),
 array([ 32, 106, 109, 190,  80, 115, 176, 135, 163, 183, 136, 136, 144,
        154,  33,  31,   0, 130, 141,  77,  66, 182,   3, 192, 144,  64,
        121, 107,  18, 179,  57, 187, 164,  71, 194, 111,  96,  46, 104,
         14,  73,   6, 143, 119,  91,  40, 181, 158,  32, 185, 169, 102,
         42,  85,  10,  31,  29, 180,  98, 182,  60, 183,  94, 142, 193,
        120,  66, 144,  38, 137,  39, 115, 174,  67, 164,  30,  15, 166,
         10,  51,  84,  93,  41, 155, 160, 150, 172, 111,  12,  52,  91,
         81, 190,   2, 105, 114,  73,   1,  50, 121, 105,  55, 117,  35,
         88,  32, 107, 159, 101,  38,  12,  39,  46,  75, 110, 140, 130,
        115, 141,  57,  31, 109, 186,  90,  55,  52, 142,   3,   7, 121,
         66, 151, 123, 118, 173, 167,  33, 149, 119, 171, 107, 143,  32,
        183, 192,  98, 160, 196, 157,  76, 183, 183, 192, 126, 148,  94,
        101,  72, 163, 118,  61, 155, 152,  85,  31,  12,  24,  51,  96,
         76, 118,  21, 157,  10, 139, 150, 191,  45, 157, 170, 176,  54,
        196,  87,   2, 158,  35,  97, 158,  54,  80, 101, 160,   0,  46,
        150,  85]),
 array([ 71, 114, 191,  71, 184, 184,  59, 144,  69, 132, 106, 140, 153,
         83,  57,  95,  61, 154,  48, 155, 118, 133, 128,  42,  80,  52,
        158, 126, 152, 109,  11, 162,  33, 127,  93, 153,  52, 117,  70,
        149,  26, 190, 146,  69,  40,  49,  62,  99, 183,  97, 163, 106,
        171, 194, 135, 109,  59,  55, 176,  61,  79,  90, 105, 172,  25,
        160,  97,  11,  61,  85, 184,  52,  82,  31,  33, 143,  39, 127,
         11,  48, 143, 116,  79,  98,  92,  18,  80, 151, 114,  97, 117,
        195,  85,  24,   9,  94, 157, 109,  16,  48, 195, 195, 185,  34,
         23, 112, 109, 119,  10,  33, 181,  16, 110, 171,  57, 164,   4,
        196,  62, 132,   8,  44, 166,  38, 182,  72,  46,  23,  77, 186,
         73,  59,  80,  57, 170,  56, 111,  68, 194, 190,  51,  49, 165,
        145,  18, 171, 160, 137,  49, 191, 176, 154, 148,  70, 106,   1,
         45,  30,   7,  26, 167,  54,   7,  83, 164, 149,  55, 114,  48,
        138, 195,  31, 134, 127,   7,  62, 176, 110,  11,  55, 100, 145,
         94,  25, 182, 158, 129, 167, 187, 152,  43, 137,  46,  46,  89,
        124, 123]),
 array([103, 190, 158, 157,  60, 121,  87, 162,  25,  50, 105,  91,  45,
         26,  99, 101,  20, 130,  43, 147,  74,  39,  89, 162, 143, 145,
        161, 193,  76, 195,  87, 190,  40, 108,  29, 120,  25, 156, 101,
        115, 127, 161,  44, 107,  75, 104, 182, 182,  15,  99,  30, 105,
         75,  56, 102,  61,  89, 100,  60,  38,  20,  12, 100,  28, 184,
        179,  29,  89,  13, 135, 180,  76,  57, 129, 165,  41,  52,  67,
        123,  92, 127, 109, 189,  18, 121,  81,  10, 116,   3,  95,  63,
        100, 166,  19, 157, 121, 136, 178,  61,  83,  85,  21, 125, 129,
        188,  45, 139, 185, 186,  65, 163, 129, 191, 126,   6,  52, 182,
         22, 109, 187,  70,  36,  84,   9,  81,  27, 158,  83, 103, 158,
        189, 129, 125,  87,   0, 106, 184, 192, 148, 104,  17, 175, 187,
         36, 133,  95, 140, 127, 149, 160, 162,  10,  41, 141, 185,  35,
        108,  40, 112,  88,  79, 182,  70,  69, 101, 137, 112,  21, 106,
        138, 124,  95, 182, 193,  75, 167,  28, 127, 161,  29, 153, 112,
        115, 172, 119,  95,  15, 162,  86, 151,   0,  82,  26,  52,  11,
         57, 167]),
 array([ 21, 121, 169, 105,  50,  97, 134,  53,  23,  59, 158, 146, 167,
        131, 188,  39,  33,  29, 154,  50, 164,  31, 119,  61,  97,  85,
        108,  54, 195, 163,  25, 173, 125,  13, 139, 158, 109, 135,  96,
        167, 188,  15,  60,  79,   2, 127, 130, 166,  59,   3,  76,  68,
         53, 191,  30, 160, 144, 195,  14,   9,  25,  51, 182,  45, 164,
         83, 158, 119, 151, 115,   9, 179, 178, 175, 182, 153, 131,  27,
        109,  49,  47,  12,  30, 123,  36,  55, 183,  67, 103,  24, 177,
        104,  21, 140,  71,  75, 173,  42, 150, 128,  80, 138, 160, 175,
        100, 130,  20, 126, 124, 108, 137, 111,  33,  51,  73,  19,   4,
          2,  79,  72, 106, 180,  59,  61, 166,  80, 189,  80,  50,  14,
          6,  60, 143,  97,  42,  11, 173, 120, 155, 195,  96, 133, 194,
         81, 109,  14, 124, 149, 153, 186, 120, 120, 164, 122,  56, 149,
         60, 174,  38, 146,  68,  41, 172, 147, 117, 182, 117, 112, 105,
        180, 162, 178, 173, 105, 167, 128, 112,  74, 110,   3,  74, 192,
         73,  85,  51,  81,  34, 192,  60, 133,   3,  26, 191,  39,  99,
         79,   1]),
 array([  9, 191, 174, 170,  84, 121, 171, 143,  80, 165, 164,  47, 149,
         49, 140, 166,  29,  17, 172,  14, 114,  34, 188, 185, 102, 195,
         73, 104, 163, 173,  42, 122, 130, 120,  26, 171,  33, 149,  60,
         95, 190,  64,  71, 123, 155,  70,  40, 106, 119, 171, 109,  24,
         32,  96,  26,  83,  70, 116, 155,  24, 116,  22, 113, 122, 168,
        143, 108,  96, 142,  78, 159, 144, 175, 155, 149,   8,  58,  88,
         34,   1,  10,  77, 151, 165, 156,  78, 140,   2, 160, 178,  25,
         11,  70,  53, 112,  42, 195, 183,  89, 138,  94,  90,  40,  70,
          2, 183,  83,  21,  34,  55, 155,  18,  74, 125,  96, 186, 100,
        114,  52, 184,   5, 190, 174, 115, 171,  50,  91, 161,   6,  85,
        183,  57,  71, 115,  84,  71,  15,  46,  46, 132,  36, 141,  95,
        119,   6, 187,   2, 132, 178, 192,  31,  69,  70, 112, 120,  94,
        117,  27, 188,  85,   8,  16,  47,  65,  88, 142,   5,  69, 176,
        162, 134, 103,  13, 120, 116, 157, 154,  26, 108,  18, 107, 142,
        111, 152,  98, 155,   9, 192, 161, 146,  53,   7, 163, 149,  47,
        105, 140])]

In [15]:
bag_model.estimators_features_  # her bir ağacın bağımsız değişkenleri

[array([ 4, 18,  1, 16, 16,  9,  4,  0,  7, 15,  3, 18,  6,  0, 15,  3,  5,
         8, 16]),
 array([ 3,  0,  5, 16,  5,  3, 13,  7,  5,  6, 17,  4, 18, 15, 16,  0,  1,
        14,  9]),
 array([ 4,  9,  4,  9,  1, 12,  7,  2, 12, 13,  5, 17, 18,  8, 14,  8,  7,
         9,  9]),
 array([ 2,  2, 12,  6, 10,  1,  1,  2,  1,  2,  4,  2,  0,  3,  9, 11,  8,
        17,  9]),
 array([12, 10,  3, 12,  6, 13,  5,  5, 14, 17, 15,  8, 13, 17,  3, 12, 16,
         9, 10]),
 array([ 6, 15,  0, 14, 11,  3,  1,  8, 13,  9,  9, 16, 18,  4,  7,  0,  9,
        18,  4]),
 array([10, 13,  6,  2, 15, 14, 17,  6,  8,  7,  0, 15,  1,  6,  6, 14, 17,
        18,  7]),
 array([ 7,  5,  2,  2,  3, 16, 13,  3,  9,  9,  3, 18, 10,  3,  4,  5, 16,
         9,  7]),
 array([ 7, 18,  7, 13, 15,  2, 18, 15, 11,  2, 17,  3, 13, 17, 17,  2, 11,
         2,  3]),
 array([13, 17,  0,  5, 10,  3, 11,  2, 15, 12, 16,  0,  7, 12, 15, 17, 13,
         3,  0])]

In [16]:
bag_model.estimators_[0]

DecisionTreeRegressor(criterion='mse', max_depth=None, max_features=None,
                      max_leaf_nodes=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      presort=False, random_state=766210766, splitter='best')

In [17]:
bag_model.estimators_[1]

DecisionTreeRegressor(criterion='mse', max_depth=None, max_features=None,
                      max_leaf_nodes=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      presort=False, random_state=1499816503, splitter='best')

------

# Tahmin (Bagged)

In [18]:
bag_model.predict(X_test)

array([ 658.75  , 1009.6666, 1112.    ,  155.35  ,  574.3333,  317.75  ,
        215.5   ,  125.9   ,  695.    ,  557.    ,  923.5   ,  903.3333,
        460.    ,  158.1667,  380.5   ,  837.6666,  917.8333,   99.5   ,
        835.2   ,  246.5   ,  443.5   ,  962.75  ,  891.6666,  818.1667,
        351.2   ,   73.55  , 1008.0001,  431.    ,  555.5   ,   94.5   ,
         81.5   ,  750.5   ,  495.6667,  229.75  ,  268.1667,  828.5832,
       1224.8904,  238.35  ,  158.5   ,  481.    ,   86.75  ,  132.45  ,
        683.4999,  732.    , 1300.    ,  973.0833,  442.    ,  106.15  ,
        160.5   ,  805.3333,  799.9166,  503.5001,  786.5   ,  180.    ,
        104.45  ,  722.4166,  647.5   ,  644.1666,  262.6667, 1249.3071,
       1132.4738,  462.5   , 1038.    ,  417.5   ,  677.75  ,   78.5   ])

In [19]:
y_pred_test = bag_model.predict(X_test)

In [21]:
np.sqrt(mean_squared_error(y_test, y_pred_test))

347.4824455159753

In [29]:
bir_y_pred = bag_model.estimators_[1].fit(X_train, y_train).predict(X_test)

np.sqrt(mean_squared_error(y_test, iki_y_pred))  # beceriksiz ağaç :D

441.95505113795053

In [26]:
alti_y_pred = bag_model.estimators_[6].fit(X_train, y_train).predict(X_test)

np.sqrt(mean_squared_error(y_test, yedi_y_pred))  # beceriksiz ağaç :D

466.8847325687605

In [28]:
sifir_y_pred = bag_model.estimators_[0].fit(X_train, y_train).predict(X_test)

np.sqrt(mean_squared_error(y_test, sifir_y_pred))  # beceriksiz ağaç :D

464.198292420759

In [32]:
baggedList = []

for i in range(0, 10):
    y_pred_test = bag_model.estimators_[i].fit(X_train, y_train).predict(X_test)
    baggedList.append(np.sqrt(mean_squared_error(y_test, y_pred_test)))
    
for i in range(0, len(baggedList)):
    print("{}.Ağaç : {}".format(i, baggedList[i]))

0.Ağaç : 464.198292420759
1.Ağaç : 441.95505113795053
2.Ağaç : 512.5510627689754
3.Ağaç : 452.4953526696393
4.Ağaç : 500.33661495207105
5.Ağaç : 497.48516596744025
6.Ağaç : 466.8847325687605
7.Ağaç : 464.94118703895975
8.Ağaç : 453.1948378991027
9.Ağaç : 430.6566776123834

-------

# 3. Model Doğrulama / Model Tuning (Bagged)

In [33]:
bag_model = BaggingRegressor(bootstrap_features = True)

bag_model.fit(X_train, y_train)

BaggingRegressor(base_estimator=None, bootstrap=True, bootstrap_features=True,
                 max_features=1.0, max_samples=1.0, n_estimators=10,
                 n_jobs=None, oob_score=False, random_state=None, verbose=0,
                 warm_start=False)

In [36]:
bag_params = {"n_estimators" : range(2, 20)}

bag_cv_model = GridSearchCV(bag_model, bag_params, cv = 10)

bag_cv_model.fit(X_train, y_train)

GridSearchCV(cv=10, error_score='raise-deprecating',
             estimator=BaggingRegressor(base_estimator=None, bootstrap=True,
                                        bootstrap_features=True,
                                        max_features=1.0, max_samples=1.0,
                                        n_estimators=10, n_jobs=None,
                                        oob_score=False, random_state=None,
                                        verbose=0, warm_start=False),
             iid='warn', n_jobs=None, param_grid={'n_estimators': range(2, 20)},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring=None, verbose=0)

In [37]:
bag_cv_model.best_params_

{'n_estimators': 19}

In [38]:
# final modeli

bag_tuned = BaggingRegressor(n_estimators = 19, random_state = 45)

bag_tuned.fit(X_train, y_train)

BaggingRegressor(base_estimator=None, bootstrap=True, bootstrap_features=False,
                 max_features=1.0, max_samples=1.0, n_estimators=19,
                 n_jobs=None, oob_score=False, random_state=45, verbose=0,
                 warm_start=False)

In [39]:
bag_tuned.predict(X_test)

array([ 803.52631579,  876.53505263, 1111.15789474,  130.39473684,
        528.42105263,  346.89473684,  199.84210526,  111.55263158,
        867.01752632,  526.66663158,  736.52631579,  979.98615789,
        554.47368421,  175.26315789,  375.65789474,  977.28068421,
       1003.37721053,  100.        ,  872.64910526,  267.89473684,
        386.75436842, 1075.65789474,  708.15789474,  727.193     ,
        462.63157895,   80.21052632,  979.95615789,  286.79826316,
        635.21931579,   90.05263158,   85.86842105,  696.97368421,
        489.42989474,  303.81578947,  258.        ,  729.86842105,
       1408.96363158,  220.5       ,  123.68421053,  637.85084211,
         81.        ,  130.23684211,  752.807     ,  706.85963158,
       1240.13157895,  730.57015789,  434.64915789,  102.71052632,
        180.89473684,  799.34210526,  871.53505263,  629.91231579,
        787.78068421,  203.28947368,   99.71052632,  863.54384211,
        683.50873684,  658.15784211,  206.05268421, 1298.34957895,
       1203.67047368,  495.35089474,  758.42105263,  494.64910526,
        553.68421053,   79.36842105])

In [40]:
y_pred_test = bag_tuned.predict(X_test)

np.sqrt(mean_squared_error(y_test, y_pred_test))

332.4260086061929

---------------