# 2. Basit Doğrusal Regresyon - Tahmin

Model denklemi:

Sales = 7.03 + TV * 0.04

Örnek : 30 birim TV harcaması olduğunda satışların tahmini değeri ne olur ?

In [3]:
7.03 + 30 * 0.04  # 7.03 + 30 * 0.04 = 8.23 birim satış olmuş olacak.

8.23

In [4]:
import pandas as pd
import numpy as np
import seaborn as sns
import statsmodels.api as sm
import statsmodels.formula.api as smf
from sklearn.linear_model import LinearRegression

In [12]:
ad = pd.read_csv("Advertising.csv")
df = ad.copy()
m, n = df.shape
df = df.iloc[:, 1:n]

In [13]:
df.head()

      TV  radio  newspaper  sales
0  230.1   37.8       69.2   22.1
1   44.5   39.3       45.1   10.4
2   17.2   45.9       69.3    9.3
3  151.5   41.3       58.5   18.5
4  180.8   10.8       58.4   12.9

In [14]:
X = df[["TV"]]
y = df["sales"]
reg = LinearRegression()
model = reg.fit(X, y)

In [18]:
model.predict([[30]])  # TV = 30 olduğunda elimizdeki tahmin değeri
                       # 30 TV satılırsa, satışların tahmini değeri 8.45'dir.

array([8.45869276])

In [21]:
yeni_veri = [[5], [90], [200]]  # TV : 5, TV : 90, TV : 200 olduğunda

In [22]:
model.predict(yeni_veri)

array([ 7.27027675, 11.31089119, 16.53992164])