## Tahmin

Model Denklemi

Sales = 2.97 + (TV * 0.04) + (radio * 0.18) + (newspaper * 0.002)

Örneğin 30 birim TV harcaması, 10 birim radio harcaması, 40 birimde gazete harcaması olduğunda satışların tahmini değeri ne olur ?

In [23]:
import seaborn as sns
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split, cross_val_score, cross_val_predict
import statsmodels.api as sm
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score
import matplotlib.pyplot as plt

In [24]:
ad = pd.read_csv("Advertising.csv", usecols = [1, 2, 3, 4])
df = ad.copy()

In [25]:
df.head()

      TV  radio  newspaper  sales
0  230.1   37.8       69.2   22.1
1   44.5   39.3       45.1   10.4
2   17.2   45.9       69.3    9.3
3  151.5   41.3       58.5   18.5
4  180.8   10.8       58.4   12.9

In [26]:
X = df.drop("sales", axis = 1)  # bağımsız değişkenlerimiz

In [27]:
y = df["sales"]  # bağımlı değişkenlerimiz

In [28]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 42)

In [29]:
lm = LinearRegression()

In [30]:
model = lm.fit(X_train, y_train)

In [31]:
model.intercept_  # sabit katsayımız

2.979067338122629

In [32]:
model.coef_ # bağımsız değişkenlerin katsayıları

array([0.04472952, 0.18919505, 0.00276111])

Sales = 2.979067338122629 + (TV * 0.04472952) + (radio * 0.18919505) + (newspaper * 0.00276111)

In [33]:
yeni_veri = [[30], [10], [40]]

In [34]:
yeni_veri = pd.DataFrame(yeni_veri).T

In [35]:
yeni_veri.head()

    0   1   2
0  30  10  40

In [36]:
model.predict(yeni_veri)   # satışlarımızın beklenen değeri 6.32334798'dir.

array([6.32334798])

In [40]:
# modelimizin eğitim tahmin başarısını belirliyebilmek için;
rmse_train = np.sqrt(mean_squared_error(y_train, model.predict(X_train)))

In [41]:
rmse_train  # eğitim hatamız

1.644727765644337

In [42]:
# modelimizin test tahmin başarısnı belirliyebilmek için;
rmse_test = np.sqrt(mean_squared_error(y_test, model.predict(X_test)))

In [43]:
rmse_test  # test hatamız

1.7815996615334502